/*Parte 1*/
.primero{
    height: 230px;
    width: 100%;
    background-color: rgb(158, 197, 171);
    display: flex; 
    align-items: center;
    justify-content: center;
}

.rectangulo{
    height: 30%;
    width: 40%;
    background-color: rgb(241, 46, 46);
    display: flex; 
    align-items: center;
    justify-content: center;
}

.escribir{
    height: 30%;
    width: 85%;
    background-color: rgb(201, 180, 180);
}

.icono{
    height: 30%;
    width: 60px;
    background-color: rgb(31, 27, 27);
}

/*Parte 1.2*/
.mini{
    height: 60px;
    width: 100%;
    background-color: rgb(158, 197, 171);
    display: flex; 
    align-items: flex-start;
    justify-content: space-evenly;
}

.uno{
    height: 30%;
    width: 12%;
    background-color: rgb(104, 121, 110);
}

/*Parte 2*//*////////////////////////////////////////////////////////////////////////////////////////////*/

.segundo{
    height: 300px;
    width: 80%;
    background-color: rgb(102, 146, 116);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

.cuadradogrande{
    height: 55%;
    width: 13%;
    background-color: rgb(38, 133, 68); 
    display: flex;
    align-items: start; 
    flex-direction: column;
    padding: 2.3%;
}

.renglon{
    height: 10%;
    width: 98%;
    background-color: rgb(38, 133, 68);  
    display: flex;
    justify-content: space-between;
    padding-bottom: 12%;
    }

    .circulo{
    height: 100%;
    width: 13%;
    background-color:  rgb(102, 146, 116); 
    }

    .tex{
    height: 100%;
    width: 75%;
    background-color: rgb(194, 183, 171);  
    }

.cuadradotexto{
    height: 70%;
    width: 50%;
    background-color: rgb(102, 146, 116);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.c-texto{
    height: 22%;
    width: 100%;
    background-color:  rgb(102, 146, 116); 
    }

    .texto{
    height: 75%;
    width: 100%;
    background-color: black;
    }

.c-minitexto{
    height: 15%;
    width: 100%;
    background-color:  rgb(102, 146, 116); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .minitexto{
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    }

    .minitexto-distinto{
        height: 30%;
        width: 70%;
        background-color: rgb(255, 255, 255);
    }

    /*Parte 2*//*////////////////////////////////////////////////////////////////////////////////////////////*/

.tercero{
    height: 400px;
    width: 100%;
    background-color: rgb(158, 197, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grande-1{
    height: 80%;
    width: 30%;
    background-color: rgb(44, 216, 102);
}

.grande-2{
    height: 80%;
    width: 30%;
    background-color: rgb(216, 44, 164);
}

.grande-3{
    height: 80%;
    width: 30%;
    background-color: rgb(44, 56, 216);
}
